{% extends "base.html.twig" %}

{% form_theme formView _self %}

{% block title %}
	Création d'un produit
{% endblock %}

{% block body %}
	<h1>Nouveau produit</h1>

	<div class="row">
		<div class="col">
			{{form_row(formView.name)}}
			{{form_row(formView.price)}}
		</div>
		<div class="col">
			{{form_row(formView.category)}}
			{{form_row(formView.shortDescription)}}
		</div>
	</div>
	<button type="submit" class="btn btn-primary">
		<i class="fas fa-save"></i>
		Créer le
	</button>
	{{ form_end(formView) }}

{% endblock %}


{# ce bloc est appelé à chaque fois qu'on utilise la fonction form_row() #}
{% block form_row %}
	{# La variable form passée à chaque fonction ci-dessous représente chacun des attributs du formulaire de base (formView.name, formView.price, etc...) #}
	<div class="form-group">
		{{ form_label(form) }}
		{{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
		{{ form_help(form) }}
		{{ form_errors(form) }}
	</div>
{% endblock %}
